{% extends 'base.html' %}

{% block content %}

<div class="container page " id="login">
    <h3>Register</h3>
    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="first_name" placeholder="Enter name" required>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name" placeholder="Enter name" required>
        </div>
        <div class="form-group">
            <label>Usernam</label>
            <input type="text" class="form-control" name="username" placeholder="Enter username" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" name="password2" placeholder="Password" required>
        </div>
        <button type="submit">submit</button>
        <a href="{% url 'login' %}">Sign In</a>
    </form>
</div>

{% endblock %}