{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="movies-carousel">
    {% if  latest_movies%}
    <h3>Latest Published</h3>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <!-- {% for i in lates_movies %} -->
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
            <!-- {% endfor %} -->
        </ol>
        <div class="carousel-inner">
            {% for movie in latest_movies %}
            <div class="carousel-item active">
                <div class="movie">
                    <img src="{{movie.poster.url}}">
                    <div id="info">
                        <h5>{{movie.title}}</h5>
                    </div>
                </div>

            </div>
            {% endfor %}

            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    {% else %}
    <div class="col-12">
        No Movies
    </div>
    {% endif %}
</div>

<!-- Top Rated Movies -->
<section class="movies container">
    <h3>Top Rated</h3>
    <div class="row">

        {% if top_rated %}
        {% for movie in top_rated %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="movie">
                <img src="{{movie.poster.url}}">
                <div id="info">
                    <p>{{movie.genre}}</p>
                    <p><i class="fas fa-star"></i> {{movie.rating}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12">
            <p>No Movies Available</p>
        </div>

        {% endif %}

    </div>
    <div class="row">
        <button><a href="{% url 'repertoer' %}">See Repertoer</a></button>
    </div>
</section>

{% endblock %}