{% extends 'base.html' %}

{% block content %}
<div class="overlay d-flex align-items-center">
    <div class="container">
        <form action="{% url 'repertoer' %}">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4" id="box">
                    <select name="cinema">
                        {% if cinemas %}
                        {% for cinema in cinemas %}
                        <option value="{{cinema}}" {% if cinema.name == values.cinema %} selected {% endif %}>
                            {{cinema}}
                        </option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="col-12 col-sm-6 col-md-4" id="box">
                    <select name="genre">
                        {% if genres %}
                        {% for genre in genres %}
                        <option value="{{genre}}" {% if genre == values.genre %} selected {% endif %}>
                            {{genre}}
                        </option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="col-12 col-md-4" id="box">
                    <div class="input-group">
                        <input type="text" name="title" placeholder="Movie Title">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <!-- <button class="col-12 btn" type="submit">Filter</button> -->
            </div>
        </form>
    </div>
</div>

<section class="repertoer container">
    <div class="row">
        <div class="col-12 col-md-7">
            {% if movies %}
            {% for movie in movies %}
            <div class="movie">
                <img src="{{movie.poster.url}}">
                <div id="info">
                    <div class="movie-title">
                        <h5>{{movie}}</h5>
                    </div>
                    <p><i class="fas fa-star"></i> {{movie.rating}} / {{movie.genre}} / {{movie.released}}</p>
                    <button>Buy Tickets</button>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12">
                <p>Movies Not Found</p>
            </div>
            {% endif %}
        </div>
        <div class="col-12 col-md-5">
            <div class="cinema">
                <img src="{{cinema.photo.url}}">
                <div id="info">
                    <h5>{{ cinema.name }}</h5>
                    <p>{{ cinema.address }}</p>
                    <p>{{ cinema.city }}</p>
                    <p>{{ cinema.phone }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}