{% extends 'base.html' %}

{% block content %}
<section class="movies container">
    <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="movie">
                <img src="imgs/blade_runner.jpg">
                <div id="info">
                    <p>Thriller</p>
                    <p><i class="fas fa-star"></i> 8</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="movie">
                <img src="imgs/avengers_endgame.jpg">
                <div id="info">
                    <p>Thriller</p>
                    <p><i class="fas fa-star"></i> 8</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="movie">
                <img src="imgs/inception.jpg">
                <div id="info">
                    <p>Thriller</p>
                    <p><i class="fas fa-star"></i> 8</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="movie">
                <img src="imgs/memento.jpg">
                <div id="info">
                    <p>Thriller</p>
                    <p><i class="fas fa-star"></i> 8</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="movie">
                <img src="imgs/star_wars.jpg">
                <div id="info">
                    <p>Thriller</p>
                    <p><i class="fas fa-star"></i> 8</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="movie">
                <img src="imgs/django.jpg">
                <div id="info">
                    <p>Thriller</p>
                    <p><i class="fas fa-star"></i> 8</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}