{% extends 'base.html' %}

{% block content %}
<section class="movies container">
    <div class="row">

        {% if movies %}
        {% for movie in movies %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <div class="movie">
                <img src="{{movie.poster.url}}">
                <div id="info">
                    <p>{{movie.genre}}</p>
                    <p><i class="fas fa-star"></i> {{movie.rating}}</p>
                </div>
                <a href="{% url 'movie' movie.id %}">More Info</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-12">
            <p>No Movies Available</p>
        </div>

        {% endif %}

    </div>
</section>
{% endblock %}